@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    width: 9px;
  }
  ::-webkit-scrollbar-track {
    background: black;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 20px;
    border: transparent;
  }

:root{
    --purple:#2F192E;
    --purple-light:#30192d;
    --dark-blue:#012677;
    --blue:#5c65c0;
    --skyblue:#00b4fc;
    --light-blue:#005bc5;
    --dark-pink:#f64c57;
    --dark-magenta:#e21b5a;
    --light-green: #61e2c2;
    --light-purple: #d9abff;
    --orange: #d4680e;
    --dark-gray: #222121;
    --button-color: #111111;
    --text-color: white;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

body{
    background: linear-gradient(45deg, var(--purple), var(--purple-light));
    padding: 5px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 100%;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.profile-card {
    background: #111;
    width: 400px;
    padding: 3rem;
    border-radius: 10px;
    min-height: 400px;
    position: sticky; /* Make it sticky */
    top: 0; /* Distance from the top of the viewport */
    color: var(--text-color);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.profile-card .profile-pic{
    margin-top: 15px;
    overflow: hidden;
}

.profile-card .profile-pic img{
    border-radius: 10px;
    width: 300px;
}

.profile-card .profile-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.profile-card .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-details .intro h2{
    margin-top: 20px;
}

.profile-details .intro h4{
    background: #1d1d1d;
    font-weight: 400;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 8px;
}

.profile-details .intro .social{
    margin-top: 10px;
    margin-bottom: 25px;
}

.profile-details .intro .social i{
    color: #ddd;
    font-size: 16px;
    background-color: #222;
    margin: 5px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}

.profile-details .intro .social i:hover{
    transform: scale(1.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.profile-card .contact-info{
    background-color: #1d1d1d;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

.profile-details .contact-info .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
    margin-bottom: 10px;
}

.contact-info .row .icon{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #111;
    text-align: center;
    color: var(--text-color);
    transition: 0.5s;
}

.row .icon:hover{
    transform: scale(1.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.row .content{
    min-width: 70%;
}

.row .content span{
    font-size: 12px;
}

/**** about section ****/

.about{
    background-color: #111;
    max-width: 800px;
    padding: 2rem 3rem;
    border-radius: 10px;
}

.about h1{
    color: #f2f2f2;
    margin-bottom: 1.1rem;
    position:relative;
    display: inline-block;
    font-size: 3.5rem;
}

.about h1::after{
    position: absolute;
    content: "";
    top: 50%;
    right: -50%;
    width: 45%;
    height: 3px;
    background: linear-gradient(45deg, #f64c57, #e21b5a);
}

.about-me-content{
    margin: 0;
    padding: 10px;
    background-color: var(--dark-gray);
    border-radius: 5px;
}
.about p{
    color: var(--text-color);
    margin: 1.5 0;
}

.about h2{
    color: #f2f2f2;
    margin-bottom: 1.1rem;
    margin-top: 1.1rem;
    position:relative;
    display: inline-block;
    font-size: 3.5rem;
}

.about .projects-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    flex-direction: column;
}

.about .projects-container .project{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background: #1d1d1d;
}

.about .projects-container .project img{
    width: 200px;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
    margin: 10px;
    background-color: #1d1d1d;
}

.about .projects-container .project img:hover{
    transform: scale(1.2);
    border: 1px solid var(--text-color);
}

.project-img-container{
    margin: 0px;
    padding: 10px;
    background-color: #1d1d1d;
}
.project-about{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5px;
}

.project-about p{
    color: var(--text-color);
}

.project-about .code-link{
    background-color: var(--button-color);
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid var(--button-color);
    transition: 0.5s;
}

.project-about .code-link a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.project-about .code-link a i {
    margin-right: 10px; 
}

.project-about .code-link:hover{
    transform: scale(1.1);
    border: 1px solid whitesmoke;
}